# Ignore all files
*
.extended/*

# Except these
!.bashrc
!.extended/git-aliases
!.extended/rails-aliases
!.extended/soft-aliases
!.fzf/
!.fzf.zsh
!.gitconfig
!.gitignore
!.oh-my-zsh/
!.p10k.zsh
!.zshrc

