[core]
	editor = vim
	excludesfile = /home/alexander/.config/git/.gitignore
[user]
	name = alexander-p30
	email = alexanderp30e@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[diff]
  tool = kitty
  guitool = kitty.gui
[difftool]
  prompt = false
  trustExitCode = true
[difftool "kitty"]
  cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
  cmd = kitty kitty +kitten diff $LOCAL $REMOTE

