# Ignore all files and folders
/*
.config/*
.extended/*

# Except these
!.bashrc
!.config/
!.config/autorandr/
!.config/efm-langserver/
!.config/dunst/
!.config/kitty/
!.config/kmonad_maps/
!.config/nvim/
!.config/picom.conf
!.config/polybar/
!.config/rofi/
!.config/xfce4/
!.docker/*
!.doom.d/*
!.extended/git-aliases
!.extended/rails-aliases
!.extended/soft-aliases
!.fzf.zsh
!.gitignore
!.oh-my-zsh/
!.p10k.zsh
!.scripts/
!.zshrc
!.i3/
!.Xmodmap


.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml