# Ignore all files
*
.extended/*

# Except these
!.bashrc
!.config/dunst/
!.config/kitty/
!.config/nvim/
!.config/polybar/
!.config/xfce4/
!.extended/git-aliases
!.extended/rails-aliases
!.extended/soft-aliases
!.fzf/
!.fzf.zsh
!.gitignore
!.oh-my-zsh/
!.p10k.zsh
!.zshrc
!.i3/

